In [1]:
%matplotlib inline
import numpy as np
import sklearn
from sklearn import linear_model, metrics
import pandas as pd
from matplotlib import pyplot as plt
from mylibs import transform as tf
from mylibs import resample as rs

### 01. Crie os seguintes arquivos com extensão .py e implemente os métodos definidos para cada um deles:
* transform.py
    - standardize
    - normalize
* resample.py
    - split_k_fold(n_elem, n_splits=3, shuffle=True, seed=0)
    - n_elem - número total de elementos.
    - n_split - número de folds. Mínimo: 2.
    - shuffle - aleatoriza a ordem dos dados (True) ou não (False).
    - seed - determina uma semente para geração de números aleatórios ou não (None).
    - Retorno: 2 arrays (idx_train e idx_test), cada um com n_splits elementos: 
    - um com os índices de treino. Exemplo para n_splits=3, teremos idx_train[0], idx_train[1] e idx_train[2].
    - um com os índices de teste. Exemplo para n_splits=3, teremos idx_test[0], idx_test[1] e idx_test[2].

In [2]:
np.random.seed(0)
x = np.random.rand(20) # 20 valores
x = (x * 100).round(2) # valores até 100
x = np.resize(x, (20, 1))

In [3]:
tf.normalize(x)

array([[0.56025437],
       [0.73661897],
       [0.61748808],
       [0.55612083],
       [0.42766296],
       [0.66316905],
       [0.44239534],
       [0.92379438],
       [1.        ],
       [0.38494966],
       [0.81770005],
       [0.53916269],
       [0.58060413],
       [0.95961844],
       [0.05384208],
       [0.0709062 ],
       [0.        ],
       [0.86104928],
       [0.80339163],
       [0.90068892]])

In [4]:
tf.standardize(x)

array([[-0.11870903],
       [ 0.48434953],
       [ 0.07699507],
       [-0.13284322],
       [-0.5720902 ],
       [ 0.23319593],
       [-0.52171451],
       [ 1.12437442],
       [ 1.38495081],
       [-0.71814345],
       [ 0.761597  ],
       [-0.19082962],
       [-0.04912535],
       [ 1.24687069],
       [-1.85032791],
       [-1.79197909],
       [-2.03443473],
       [ 0.90982474],
       [ 0.71267098],
       [ 1.04536795]])

In [6]:
test, train = rs.slipt_k_fold(20, 5, True, 2)

In [7]:
train

[array([ 2,  8,  6, 19, 15,  4, 16, 12,  9,  1,  0,  7, 14, 17,  3, 18]),
 array([13, 11, 10,  5, 15,  4, 16, 12,  9,  1,  0,  7, 14, 17,  3, 18]),
 array([13, 11, 10,  5,  2,  8,  6, 19,  9,  1,  0,  7, 14, 17,  3, 18]),
 array([13, 11, 10,  5,  2,  8,  6, 19, 15,  4, 16, 12, 14, 17,  3, 18]),
 array([13, 11, 10,  5,  2,  8,  6, 19, 15,  4, 16, 12,  9,  1,  0,  7])]

In [8]:
test

[array([13, 11, 10,  5]),
 array([ 2,  8,  6, 19]),
 array([15,  4, 16, 12]),
 array([9, 1, 0, 7]),
 array([14, 17,  3, 18])]

### Carregando Dataset

In [19]:
data = pd.read_csv('winequality-red.csv', delimiter=';')
data.shape

(1599, 12)

In [20]:
data.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1455,6.5,0.900,0.00,1.6,0.052,9.0,17.0,0.99467,3.50,0.63,10.9,6
788,10.0,0.560,0.24,2.2,0.079,19.0,58.0,0.99910,3.18,0.56,10.1,6
355,6.7,0.750,0.01,2.4,0.078,17.0,32.0,0.99550,3.55,0.61,12.8,6
338,12.4,0.490,0.58,3.0,0.103,28.0,99.0,1.00080,3.16,1.00,11.5,6
433,12.3,0.390,0.63,2.3,0.091,6.0,18.0,1.00040,3.16,0.49,9.5,5
68,9.3,0.320,0.57,2.0,0.074,27.0,65.0,0.99690,3.28,0.79,10.7,5
820,7.0,0.685,0.00,1.9,0.099,9.0,22.0,0.99606,3.34,0.60,9.7,5
1198,7.7,0.260,0.26,2.0,0.052,19.0,77.0,0.99510,3.15,0.79,10.9,6
107,6.2,0.630,0.31,1.7,0.088,15.0,64.0,0.99690,3.46,0.79,9.3,5
1340,7.5,0.510,0.02,1.7,0.084,13.0,31.0,0.99538,3.36,0.54,10.5,6

In [21]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [23]:
test, train = rs.slipt_k_fold(data.shape[0], 5, True, 3)

In [24]:
test

[array([ 147,  937,  877, 1000,   73,   31,  266, 1403,  263, 1491,  293,
         112, 1246,  592, 1417,    4, 1503,  221,  837, 1083, 1402,  157,
          69,  730,  692,  175,  593, 1018,  984, 1116,  554, 1264, 1381,
         290,   83, 1077, 1270, 1493,  137,  288,  199, 1373, 1107,  745,
         720,   16,  869, 1568,   70,   85,  677,  597, 1237, 1087,  475,
        1511,  719,   61,  515, 1521,  393,  790,  204,  216, 1565, 1286,
         487, 1327,  615, 1454, 1518,  229,  402, 1295, 1598, 1314,  317,
           3,  371, 1117, 1588, 1437,   46,  471,  154,  746,  635,  565,
        1513,  809, 1380,  897,   37,   50, 1567,  268,  304,  743, 1597,
         477, 1158,  409,  416, 1371, 1249, 1370,  170,  103, 1410, 1031,
        1426,  969, 1223,  250, 1465,  751,  168,  752,  197, 1307,  328,
         562,  500,  322,  632,  895, 1422, 1569, 1065,   65,  321, 1173,
         669,  350,  948, 1481, 1068,  464,  608, 1318, 1128, 1475, 1386,
         981,  148, 1305,  675,  264, 1132, 1400,  600,  239,  829,  247,
        1296,  816, 1282, 1013,  153,  876, 1349, 1497,  892,  911,  685,
         774,  815,  566, 1225, 1257,  389, 1038,  782,  381,  985,  713,
          27,  930,  749,  509,  805, 1054, 1377,  888, 1095,  674,  150,
        1094, 1201, 1391, 1011, 1006,  891, 1140,   99,  616,  478, 1171,
         343, 1012, 1382,  188, 1059, 1127,  456,  169,  160,  318,  140,
         804,  121, 1244,   40, 1102, 1494,  334, 1052,  208,  626,  899,
        1251,  602, 1105,  703, 1596,  715,  938,  620,  349,  332, 1297,
        1416, 1304,  493,  991,  194, 1309, 1544, 1233,  303, 1179, 1248,
         269,   87,  821,  357, 1141,  578, 1051,  232,  193,  820, 1425,
         697,  131, 1455,  425, 1374, 1303,  400, 1405, 1112, 1552,  667,
         977,  198,   59, 1539,  850,  107,  210,  585,  708,  923,  947,
         356,    6,  990, 1337,  846, 1067,  581, 1072,  548, 1558, 1154,
         727,  373,  324, 1159,  587,  377,  549, 1071, 1430, 1587,   81,
         586,  144,  898, 1427, 1157, 1218,  289,  472,  725, 1574, 1250,
         411,    1, 1121,  642, 1220,  866, 1443,  841,  889, 1145, 1476,
         187]),
 array([ 606,  362,  533, 1397,  733,  248, 1362, 1193,  656,  180,  755,
        1501, 1554,  603,  884,  186, 1204, 1468, 1433, 1570, 1540,  934,
         689,  166,  903,   86,  458,  316,  355, 1081,  570,  845, 1210,
         818,  879,  123,  709,  886,  243, 1478, 1061, 1082,  231, 1345,
        1332,  573,  951, 1109,  235,  702,  262,   57,  249,   28,  783,
          19, 1392,  498,  146, 1336, 1522,  750,  211,  637,  914,  954,
        1228,  614,  499,  840, 1136,  979,  856, 1213,   51,  427, 1027,
         943,  729,  633,   58,  933, 1187,  407,  910,   48, 1126,  319,
          42, 1372, 1423, 1469, 1471, 1553, 1515,  671, 1581,  227,  126,
         596,  443,  718,  913,  152,  352,  312, 1069, 1278, 1267,  448,
        1517,  301, 1079,  119,  287,  612, 1262,  610, 1395,  339, 1037,
          30, 1576,  504,  201,  871,  568, 1348,  791,  378,   64, 1420,
         953,  178,  807,  228, 1315,  490,  931,   80,  978,  338,  162,
        1406,  360,  429,  522,  374, 1120,  916,  327, 1559,  284,  529,
         716, 1130,  492,  209,  485,  957, 1266,   97,  283,  778,  584,
        1444, 1008, 1101, 1015, 1525,  442, 1188, 1516, 1092, 1199, 1545,
        1111,  424,  799,  736,  997,  361, 1152, 1352,  631,  335,  132,
         577,  353,   72,  623,  143, 1047, 1401,  760,  908, 1453, 1334,
         380, 1125,  314, 1467,  359, 1097,  965,  796,  737,    7,  962,
         896,  238,   78, 1034, 1133,  116,  323,  439,  173,  768, 1365,
         414, 1014,  164, 1533, 1560,  925,  853, 1106, 1355,  386,  122,
          95,   45,  382, 1326,  190,  915,  963, 1390, 1572,  956,  255,
          91, 1317,  823, 1009, 1285,  781,  370, 1500, 1384,  552, 1216,
         423,  347,  740,  421,  687,  881, 1196,  849,  944,  973, 1234,
         296, 1183,  115, 1549,  883,  468, 1020,  450,  539, 1181,  744,
        1473,  514,  482,  574,  894,  833,  800,  387,  202,  502,  972,
        1241, 1358,  109,  142, 1175,  401,  158,  859,  902,  571, 1259,
         801,  214, 1353,  648, 1470,  670,  330,  792, 1129, 1194,  428,
        1137,  861, 1063, 1161, 1279, 1091,  688,  595,  949,  447, 1450,
         761]),
 array([ 935,  516,  563,  857,  272,  710,  638,  139,  842,  855, 1582,
         646,  431, 1302,  747, 1119,  854, 1131, 1461,  787,  611, 1239,
         976, 1115, 1579,  128,    8,  311,  989, 1292,  526, 1142, 1385,
         206, 1555,  959,  712,  203,   54, 1185,  488,  540, 1480,  679,
         189,  108,  537,  521, 1029,  550,   22,  806,  376, 1328,  594,
        1557,  205,   93,  224, 1261, 1139, 1418, 1198,  440, 1442,  588,
        1330,  838,  847,   92,  567, 1294,  270, 1124, 1504, 1138,   75,
        1283,  654, 1217, 1583, 1256,  707, 1265,  560,  901,  851, 1155,
        1383, 1421,  246,  904, 1431,  469, 1580, 1464, 1209,  130, 1338,
          24,  583,  391,  819,  811, 1458, 1394,   25,  155, 1519,  825,
        1004,  542,  236,  763,  893, 1231,  706, 1495,  445, 1056, 1436,
        1053,  179,  629, 1530, 1419,   10,  354,   67, 1375, 1163,  145,
        1153,  415,  392,  506,  300,  523, 1548, 1488,  437, 1235,  921,
         927,  955,  138, 1306,  195, 1434,  449, 1408, 1271,  890, 1300,
         174,  222,  254, 1460,  385,  942, 1506,  870, 1439,   34,  711,
        1043,  919,  265,  557,   89, 1341,  777,  885, 1412,  822,    0,
        1122,  613,    5,  342, 1537,  101,  843,   39,  528,  665,  452,
         780,  660,  124,  177,  136,  336,  118, 1577, 1144, 1487,  505,
        1342,  617,  351,  986,  192, 1486, 1089,  988,  880,  135,  244,
         460,   41,  723, 1022,  636,  358,  995,  297,  905, 1376,  758,
         517,  982,  558, 1280,  813,  618,  465,  410, 1339, 1414, 1333,
        1123,   38,  678,   79, 1550,  686,  491,  824, 1466,  527,  682,
         759, 1366, 1042, 1584, 1415,  693, 1593,  420,  831, 1177, 1208,
        1428, 1536,  590, 1343,  457,  766,  111,  987, 1028, 1387,  999,
        1399, 1508,  102,  454, 1311, 1104,  663, 1563,  874,  980,  742,
        1214,  756, 1230,   53, 1520, 1035,  114,   68, 1369,  546,  717,
        1499,  726, 1590,  649,  271, 1150, 1407,  786,  252,  215,  784,
        1274,  134, 1040, 1203, 1148, 1080,  658,  127, 1310, 1169, 1457,
        1192,  237, 1448, 1166,  459, 1205,  950,   55,  769,   74, 1242,
         105]),
 array([ 163, 1174, 1160,  461, 1135,  639, 1360, 1589, 1254,  518, 1346,
         591, 1207,  929,  230,  770,  412, 1512,  555,  543, 1036,  536,
        1100, 1484, 1308, 1260,  624,  406, 1389,  644,  863, 1591, 1293,
         958,  446,  664, 1284, 1085,  771,  479, 1168,  579, 1409,  261,
         294,  721,  422, 1268,  971, 1290, 1055,  181,  159, 1459,  650,
         609, 1329,  333,  694,  909,  279, 1088,  698, 1556,  868, 1456,
          14,  975,  462, 1363, 1110,  619, 1393, 1531,  873,  466,  753,
        1212,  941,  882,  291,  233,  741, 1070, 1323, 1200,   49,  785,
        1288,  534,  628,  928, 1432,  525,  399, 1320, 1075,  589,  673,
        1147,  106,  835,  251, 1258, 1485,  390,  794,   56,  668,  681,
         803, 1492,  346,  151, 1411,  827,  524,   21,  405,  257,  700,
         388,  185,   43,  473,  852, 1182,  340, 1156, 1219, 1041, 1534,
         960, 1253, 1151,  315,  329,  512, 1578,  345,  832,  683, 1002,
        1547,  772,   66, 1301,  932, 1541, 1441,  643, 1413,  808,  645,
         417, 1364, 1238,  541, 1449,  313,  306,  940,  129,  395, 1462,
         326,  191,  722, 1564, 1064,  993,  920,  495, 1032,  867,  384,
        1167,  652, 1312,  397,  946, 1206, 1566,  724,  532,  762,  161,
        1322, 1103,  936, 1039, 1073, 1347,   20,  569,  653,  696,  481,
          33, 1134, 1049,   47,   29, 1005, 1170, 1490, 1354,  510,  530,
         922,  501,  432,  253, 1542, 1452, 1287,  779,  366, 1076, 1078,
         680, 1275,  812,  735, 1048,  298,  556,  575,   18,  572,  225,
         599,  419, 1240,  218,  307,  156,  171, 1263,  705,  286, 1090,
         453, 1546,   71,   82, 1523, 1502, 1532,   15,  535, 1224,  918,
         451, 1221,  404, 1477, 1435,  739,  364,  104, 1483, 1319,  661,
         241,  430,  814, 1227,  630,   96,  467, 1190,   84,  701,    9,
         604,  878,  773, 1162,  276,   88,   90,  765,  280, 1007,  651,
        1325, 1226,  992,  365,   23,  676,  998, 1189,  310, 1060,  640,
         240,  666, 1378,   98,  167,  496,  275, 1113,  714, 1344,  331,
         219,  433, 1535, 1368,  486,  531, 1388,  260,  810,  305, 1350,
         196]),
 array([1164, 1146,  494,  110, 1108, 1529,  513,  691,  369,  793, 1098,
         926,  273,  396, 1178, 1594, 1215,  797, 1298, 1211, 1074, 1062,
         961,  418, 1232,  375,  463,  470, 1099, 1272,  559,  302,  582,
        1269,  798,   11, 1351,  538,  627,  281, 1277,  983, 1586,  223,
         672, 1243,  966, 1149, 1093, 1585,  994,  580, 1045,   77,  547,
        1595,  748,  826,  125, 1252,  757, 1066,  576,  621,  767, 1229,
        1575, 1592, 1030, 1451,  802,  844, 1357, 1571, 1379,  259,  282,
         634, 1510,  474,  455,  320,  434, 1543,  299,  436, 1463,  438,
         325,  403, 1289,  564,  292,  278,  655, 1398,  732,  553,   94,
        1514, 1255,  245,  945, 1191, 1356,  775,  426, 1186,  149,  226,
         865,  967, 1118, 1245,  900,  699,  601, 1291, 1058,  217, 1096,
         817,  220,  213, 1489,  907,  394,  367,  924,   12, 1479, 1367,
        1222,  234,  695, 1084, 1505, 1424, 1321,   63,  734, 1023,  964,
         607,   13,  839,  435,   17,  764,  348,  207, 1114, 1331,  341,
        1404,  344, 1440, 1472,  551,  598,   32,  372,  657,  172, 1086,
        1482,  408, 1050, 1526,  200, 1316,  860, 1496, 1165, 1474, 1509,
        1361,  489, 1507,  212,  133,   60,  690,   26,  100,  974,  776,
         788,  520,  363,  309,  795,  828, 1276,  544,  939,  441,  647,
        1003,  476, 1046,   62, 1172,  483, 1026, 1281,   52,  242, 1197,
          35, 1202,  738,  120, 1538, 1299, 1019,   44, 1324,  836,   76,
         368,  906, 1236,  267, 1335,  728,  444,  503, 1057, 1033, 1184,
         285,  295,  625,  277, 1527,  484,  182,  970, 1561,  684, 1573,
          36, 1180,    2,  754,  508,  497,  308, 1313, 1438, 1445,  141,
        1247,  864,  183, 1551, 1010,  912,  848,  511,  731,  996,  887,
         117, 1025,  113,  545,  165,  184, 1396,  274, 1001,  704, 1024,
        1524,  383, 1429,  561,  862, 1044,  176, 1359,  379, 1195, 1016,
         519,  830,  507, 1176,  413,  622,  872,  858,  641, 1340,  258,
         834,  662, 1498,  337, 1562, 1528,  398, 1447,  605,  480, 1446,
        1143,  917, 1017,  875,  659, 1021,  789,  256,  968,  952, 1273])]

In [33]:
train

[array([ 606,  362,  533, ...,  968,  952, 1273]),
 array([ 147,  937,  877, ...,  968,  952, 1273]),
 array([ 147,  937,  877, ...,  968,  952, 1273]),
 array([ 147,  937,  877, ...,  968,  952, 1273]),
 array([ 147,  937,  877, ...,  305, 1350,  196])]