In [1]:
%matplotlib inline
import numpy as np
import sklearn
from sklearn import linear_model, metrics, datasets
import pandas as pd
from matplotlib import pyplot as plt
from mylibs import transform as tf
from mylibs import resample as rs
from sklearn.cross_validation import cross_val_score, cross_val_predict
from sklearn.datasets import load_iris
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import KFold

C:\Users\Lucivan\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### 01. Crie os seguintes arquivos com extensão .py e implemente os métodos definidos para cada um deles:
* transform.py
    - standardize
    - normalize
* resample.py
    - split_k_fold(n_elem, n_splits=3, shuffle=True, seed=0)
    - n_elem - número total de elementos.
    - n_split - número de folds. Mínimo: 2.
    - shuffle - aleatoriza a ordem dos dados (True) ou não (False).
    - seed - determina uma semente para geração de números aleatórios ou não (None).
    - Retorno: 2 arrays (idx_train e idx_test), cada um com n_splits elementos: 
    - um com os índices de treino. Exemplo para n_splits=3, teremos idx_train[0], idx_train[1] e idx_train[2].
    - um com os índices de teste. Exemplo para n_splits=3, teremos idx_test[0], idx_test[1] e idx_test[2].

In [2]:
np.random.seed(0)
x = np.random.rand(20) # 20 valores
x = (x * 100).round(2) # valores até 100
x = np.resize(x, (20, 1))

In [3]:
tf.normalize(x)

array([[0.56025437],
       [0.73661897],
       [0.61748808],
       [0.55612083],
       [0.42766296],
       [0.66316905],
       [0.44239534],
       [0.92379438],
       [1.        ],
       [0.38494966],
       [0.81770005],
       [0.53916269],
       [0.58060413],
       [0.95961844],
       [0.05384208],
       [0.0709062 ],
       [0.        ],
       [0.86104928],
       [0.80339163],
       [0.90068892]])

In [4]:
tf.standardize(x)

array([[-0.11870903],
       [ 0.48434953],
       [ 0.07699507],
       [-0.13284322],
       [-0.5720902 ],
       [ 0.23319593],
       [-0.52171451],
       [ 1.12437442],
       [ 1.38495081],
       [-0.71814345],
       [ 0.761597  ],
       [-0.19082962],
       [-0.04912535],
       [ 1.24687069],
       [-1.85032791],
       [-1.79197909],
       [-2.03443473],
       [ 0.90982474],
       [ 0.71267098],
       [ 1.04536795]])

In [5]:
test, train = rs.slipt_k_fold(20, 5, True, 2)

In [6]:
train

[array([ 2,  8,  6, 19, 15,  4, 16, 12,  9,  1,  0,  7, 14, 17,  3, 18]),
 array([13, 11, 10,  5, 15,  4, 16, 12,  9,  1,  0,  7, 14, 17,  3, 18]),
 array([13, 11, 10,  5,  2,  8,  6, 19,  9,  1,  0,  7, 14, 17,  3, 18]),
 array([13, 11, 10,  5,  2,  8,  6, 19, 15,  4, 16, 12, 14, 17,  3, 18]),
 array([13, 11, 10,  5,  2,  8,  6, 19, 15,  4, 16, 12,  9,  1,  0,  7])]

In [7]:
test

[array([13, 11, 10,  5]),
 array([ 2,  8,  6, 19]),
 array([15,  4, 16, 12]),
 array([9, 1, 0, 7]),
 array([14, 17,  3, 18])]

### Carregando Dataset

In [8]:
data = pd.read_csv('winequality-red.csv', delimiter=';')
data.shape

(1599, 12)

In [9]:
data.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
407,12.0,0.39,0.66,3.0,0.093,12.0,30.0,0.99960,3.18,0.63,10.8,7
1220,10.9,0.32,0.52,1.8,0.132,17.0,44.0,0.99734,3.28,0.77,11.5,6
1200,7.7,0.57,0.21,1.5,0.069,4.0,9.0,0.99458,3.16,0.54,9.8,6
308,10.3,0.43,0.44,2.4,0.214,5.0,12.0,0.99940,3.19,0.63,9.5,6
1328,6.5,0.52,0.11,1.8,0.073,13.0,38.0,0.99550,3.34,0.52,9.3,5
1346,6.1,0.59,0.01,2.1,0.056,5.0,13.0,0.99472,3.52,0.56,11.4,5
199,6.9,1.09,0.06,2.1,0.061,12.0,31.0,0.99480,3.51,0.43,11.4,4
1236,7.8,0.55,0.00,1.7,0.070,7.0,17.0,0.99659,3.26,0.64,9.4,6
114,7.8,0.56,0.19,1.8,0.104,12.0,47.0,0.99640,3.19,0.93,9.5,5
161,7.6,0.68,0.02,1.3,0.072,9.0,20.0,0.99650,3.17,1.08,9.2,4

In [10]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [11]:
test, train = rs.slipt_k_fold(data.shape[0], 5, True, 3)

In [12]:
test

[array([1455,  788,  355,  338,  433,   68,  820, 1198,  107, 1340, 1194,
         981,  101, 1034,  549, 1197,  739, 1172,  555, 1289,  735,  675,
        1486, 1107,  451, 1278, 1432, 1208,  240,  373,  643, 1053, 1512,
         691,  402,  463, 1196, 1226,  960,  218,  529,  187,  508, 1293,
         312,  322,  877,  143,  450,   15,  626,  939,  560, 1073, 1490,
         580,  905,  772,  332, 1087, 1480,  780,  315,  607, 1371,  747,
        1582,  147,  177,   32,  115,  192, 1125, 1064,  188,  158, 1082,
         969,  121,  904, 1532,  155,  599, 1162, 1538,  480,  609,  587,
         982,  499,  845,  424, 1373,  807, 1530, 1424,   75, 1300,  149,
         230,  171, 1231,  934, 1007,   27,  900,  259, 1276,  511, 1155,
         682,  742,  929, 1355, 1377, 1063, 1047,  584,  764,  270, 1014,
         746,  198,  832, 1001,  319, 1126,  874,   91,  427,  776,   16,
        1405, 1446,  543,  848, 1408, 1586,  627, 1274, 1042, 1429, 1351,
         784, 1334,  754,  290,  592, 1458,  894,  105,  556,  461, 1216,
         886, 1119,  152,  537,  686,  164,  571, 1070,  974,  428, 1303,
         502,  175, 1443,  456,  265,  261, 1232, 1555,   21,  110, 1510,
         909, 1247, 1138,  368, 1379, 1541, 1460,  236,  683,  160,  808,
         636, 1031,   79, 1423,  654, 1444,  880, 1086,  923,  548,  544,
         586,  657,  716, 1117,  122, 1464,  797, 1106,   77, 1483,  811,
          46,  672,  551,  896, 1487, 1287,  734,   18, 1323,  416,  861,
        1547, 1175,   54,  142,  928, 1187,  190,  141,  441,  377,  229,
        1286, 1573,  554,   62,  639,  670,  313,  574,  755,  774,   63,
        1584,  347,  191, 1025,  699,  366, 1551,    9,  604,  582, 1298,
         567, 1161,  867, 1484,  623,  196,   98,  736,  282, 1404,  245,
        1206,  341,  671, 1347,  234, 1310,  336, 1365,  702,  762,  434,
         782, 1052, 1343,  449,  849, 1103, 1251, 1191,  619,  714, 1577,
        1558, 1400,  895,  758, 1478,  498, 1537,  611,  810, 1496,  561,
        1049, 1178,  527, 1314,  618, 1507, 1217, 1000,  206,  957,  207,
         280,   94,  125, 1321, 1248,  112,  157,   57,  679, 1319,  505,
         476]),
 array([1084,  741,  520, 1282, 1091,  863, 1445, 1145,  334, 1463, 1115,
         304,  241, 1588,  553, 1398, 1534,   81,  603, 1171, 1253,  120,
         966,  472, 1118,  507, 1094, 1174,  384,  631,  936,  500,  453,
         938, 1190,  879,  224,  778, 1596,  868, 1317, 1035, 1130,  876,
         204, 1219,  677, 1189, 1002, 1133,  318,  468, 1517,  131, 1136,
        1312, 1302, 1559,   84, 1122, 1527, 1539,  132, 1292,  655,  829,
         506,   76, 1524,  380,   88,  359, 1269,  488,  799, 1207,   93,
        1370, 1359,  137,  947,  521,  258, 1135,  298, 1412,  950,  415,
        1525,   95,  260,  674,   96, 1322, 1211,  878,  830,    1,   20,
        1256,  251, 1112,   64, 1090,  186,  930, 1041,  964,   72,  227,
        1567, 1593, 1188, 1285,  823,  668, 1494, 1434,  989,  139,  371,
         446,  129,  475,  986,  624,  557, 1491,  494, 1170, 1339, 1296,
        1394,  221,  317,  535, 1239,  523,  545,  866,  151,  133,  533,
        1461,  786,  847,  856, 1176,  510,  144,    4, 1332,  857, 1311,
          35,   69, 1306, 1271, 1482,  723,  103,  959,  595,  185,  610,
        1114, 1428, 1587,  640,  692,  219, 1422,  438,  514, 1121,  818,
          48, 1383, 1169,  839,  253, 1462,  357,   56,  331,  233,   82,
        1479,  883,   73,   60,   23,  406, 1065,  901,  649,  531,  920,
          49,  732,  327, 1223,  109,  184, 1111, 1308,  822, 1367,  773,
        1288, 1553, 1407,  536, 1440,  576, 1029,   90,  361,  946, 1313,
         134,  403, 1326,  388, 1349,   31, 1513, 1280, 1077,  585,  102,
         707,  390, 1183, 1318,  130, 1069, 1127, 1562,  724,  467, 1416,
        1591,  401,  252,  659,  263,  225,  140, 1083, 1004,  273,  978,
         442,   42, 1157,  605, 1050,  393, 1262,  887, 1516,  431,  869,
        1098, 1044,  353, 1346, 1403,  515, 1439, 1426, 1362,  902, 1267,
        1336,  350, 1375,  661, 1036,  838,  276,  972,  859, 1378,  417,
         328,  111, 1164, 1104,  798,  148, 1071,  375,  530,  662,  831,
         663,  628,  268,  100,  358,  819, 1236, 1550, 1561,  363, 1147,
        1421,   33,  921, 1492,  899, 1260,  558,  278,  512,  182,  362,
        1447]),
 array([ 681,  932,  767,  836,  685, 1341, 1540, 1565,  948, 1590,  766,
         385, 1295, 1209,  193,   92,  469,  396,  178, 1451,  814,  984,
        1202,  841,  676,  858, 1521,  526, 1080,  474,  749,  967,  652,
         720,  159,  944,  128, 1401,  286,  824,  267, 1092, 1589,  135,
         126,  397,  793, 1526,  954,   10, 1249,  579,  815, 1139, 1324,
         918, 1358,  846,  209, 1392, 1519, 1470,  733,  761,  706,  907,
           0,  563, 1307,  199, 1449,   14,  208,  760, 1018,  800, 1533,
         852,  842,  955,  646,  596, 1495,  581,   74,  621, 1116,  119,
         189, 1433, 1233,  294, 1056,   29, 1229,  889, 1442, 1177, 1284,
           8,  310,   13,  927,  477,  309, 1181, 1168,  684,  504, 1469,
         354,  698,  958,  805,   37,   12, 1357, 1515, 1505,  941, 1560,
         790, 1265,  176, 1009, 1489, 1395,  787, 1493, 1100, 1245, 1309,
        1331,  495,  418,  781,  744,  547, 1294, 1297,  865,  577,  214,
          28, 1275,  658, 1290,  314, 1595,  725,  202,  395, 1522,  992,
        1344, 1097,  320,  834,  647,  369,  194, 1415,  501,   11,  613,
        1500,  729, 1022,  765, 1472, 1038, 1438, 1237,  297, 1430,  665,
         882, 1224,  299, 1411,  296, 1575,  232,   71,  287, 1266, 1101,
         150,  528, 1242, 1544,  862,  638, 1581, 1201,  642,  237,  937,
         562,  906,  891,  285, 1427, 1572,  457, 1153, 1166, 1291,  392,
         988,  307, 1120,  943,  113,  360,  329,   59,  816, 1353,  743,
         597, 1557, 1124,  379,  210,  588, 1450, 1257, 1154,  478,  108,
         914,  833,  751, 1078, 1564, 1397,  127, 1431, 1574,  697,  339,
        1020,  615,   55,  660, 1010,  364, 1102,  700,   97,  993, 1204,
        1509,  590,  503,  622, 1012,  827,  826,  703,  156,  926, 1061,
         994, 1148, 1024,  963,  518, 1264,  443,  635,    6, 1228,  381,
        1235,  601, 1093, 1333,  594, 1399,  855,  344,  656, 1437, 1019,
          67, 1150,  738,  650,  436,  961,  250,  308,  910, 1368, 1473,
        1213,  629,  479, 1488,  769,  215, 1563, 1413, 1352, 1552, 1566,
         291,  705, 1243, 1072,  293,  226,  541, 1037,  641, 1089,  737,
         216]),
 array([ 719, 1013, 1477,  690,  633,  173,  324, 1255, 1384,  213,  489,
         956, 1152, 1425,   86,  321,  323,  269,  995,  205,  753, 1193,
        1279,  426,    3, 1128, 1158, 1546,  673,  183,  564,  821, 1418,
        1467,  356,  400, 1096, 1222,  897, 1123,   26,   24,  740,  669,
        1320,  473,  246,  200,  106,   89, 1585,  180,  462,  349, 1048,
        1149,  860,  713, 1028,  440,  302,  167,  407, 1499,  413, 1528,
         730, 1374, 1055, 1523, 1452,  454,  372,  990,  806,  589,  940,
         222,  680,  238,  600,  316, 1506, 1033, 1345, 1390, 1095,   17,
         485, 1342,  908,  616,  971, 1003,  452,  430,  931,  412, 1529,
          44,  394,  695, 1192,  289,  970, 1006,  913, 1261,  606, 1011,
         813,  262, 1436,  795, 1350, 1205,   99, 1381,  305, 1268,  979,
         565, 1568,  351, 1457, 1348,   36,  996,  825,  123,  228, 1396,
         365,  284,  487, 1583,  295, 1598,  873,  255,  104, 1225,  612,
        1328,  437,  801, 1060,  953,  117,  391, 1254, 1134,  598,  491,
         614, 1088,  917,  987,  850,  166,  212,  840,  272, 1497, 1113,
         458,  539,  694,  399,  919, 1179,  775, 1214,   61,  779,  688,
          78,  893, 1549, 1142, 1361,  138,  420,  439,  408,  578,  777,
         292,  459,   34, 1160,  542,  881,  997,  256,  370,   80, 1456,
         496,  728, 1021,  701,  445,  792, 1146,  490,  933, 1391,  516,
         374, 1468, 1008,  973,  432, 1085,  275, 1046,  546, 1167,  281,
          70,  471,  645,  924,  709,  962,  274, 1579, 1301,   38,  335,
        1244,  540,  942,  382,  482,  884,  239,  726, 1005,  333, 1363,
        1159,  203, 1030,  718, 1283,  330, 1420, 1518,  242,  409,  568,
         326,  217,  648,   47, 1304, 1277,  593,  756,  145,  288, 1057,
         559, 1212,   58,  796, 1536,  220, 1230,  231,  925,  864,  146,
        1459,  447,   83, 1240,  853,  243,  770, 1076, 1382,  264, 1364,
         181,  794, 1386, 1032,  575,  885, 1387, 1131,  519, 1471, 1272,
        1110,  303, 1105, 1389, 1281,  898,  785,   87,  211, 1414,  666,
         980, 1475, 1215,    5, 1454,   19,  570,  464,  311, 1502,  266,
        1569]),
 array([ 136,  116,  460, 1543,  620,  991,  348, 1498,  977, 1481,  486,
         711, 1182, 1184,  404,  429, 1504,  722,  517, 1180,  768,  872,
          45,  419,  466,  583,  710,  444,  667,  809,  689,  383,  757,
         985, 1597,  752, 1419,  306,  481,  161, 1380,  922, 1075,  851,
         448, 1043,  651, 1185,  345,  812,  870, 1074, 1099, 1200,  608,
         168, 1406, 1325,  911,   40, 1369, 1054,  153,   39,   30,  750,
          25,  731,  999, 1476, 1132, 1388,  817,  387,  244, 1066, 1548,
         376, 1372, 1337,  248,  174, 1592, 1263,  325,   43,  678,  455,
        1570,  162,  715, 1163,  414,  791, 1485,  945,  114, 1079,  493,
        1453,  789, 1376,  965,  802,  389,  223, 1305,  890,  169,  748,
         497, 1556,  522, 1316, 1576, 1129,  712, 1356, 1315, 1360, 1220,
         916,  803, 1067,  524, 1039,  721, 1259,  976,  745,  525,  470,
         337,  566,   41, 1081,  422, 1203, 1173, 1023,  704, 1578,  625,
         915,   52,  254,  875,  195, 1466,  644,   65, 1520, 1156,  423,
         398,  783,  634,  283,  664, 1501, 1252, 1531, 1273, 1062, 1199,
        1354, 1151, 1330, 1385,  968,  717,  903, 1465, 1141,  425, 1435,
         410,  632,  257, 1250, 1234,  552, 1441,  828,  197, 1040, 1327,
        1594,   53, 1143, 1554,  854, 1165, 1026, 1299,  687,  602,  386,
         572, 1045, 1335, 1016,  804,  952,  492, 1417,  696,  340, 1109,
         935,  165,  435, 1511, 1210,  484, 1238, 1270, 1571, 1402,  154,
        1059,  591,  342, 1580,  378, 1027,  300,  124, 1051,   66,  118,
           2,  550,  179, 1227,  912,  411,  892,   50, 1393,  837,  249,
        1409,  637,  346,  532, 1514,  771,  271,  343,  277,  465, 1329,
         573,  279, 1503,  367,   22,  759,   51,  835,   85,  844,  843,
         983, 1186,  998, 1015,  509, 1140,  569, 1058,  352,  693,  163,
           7,  483,  172, 1508,  513, 1448, 1195, 1535, 1137,  247,  630,
         235, 1017, 1144,  653,  949,  421,  727,  538, 1474, 1068,  617,
        1218, 1241, 1545, 1338,  708,  405,  170, 1258,  763, 1108, 1246,
        1366,  201,  871, 1410,  534,  301, 1542, 1221,  975,  888,  951])]

In [13]:
train

[array([1084,  741,  520, ...,  975,  888,  951]),
 array([1455,  788,  355, ...,  975,  888,  951]),
 array([1455,  788,  355, ...,  975,  888,  951]),
 array([1455,  788,  355, ...,  975,  888,  951]),
 array([1455,  788,  355, ..., 1502,  266, 1569])]

In [14]:
n_train = int(round(len(y) * 0.75))
X_train = X[:n_train,:]
y_train = y[:n_train]
X_test = X[n_train:,:]
y_test = y[n_train:]

NameError: name 'y' is not defined

In [15]:
# read in the iris data
iris = load_iris()

# create X (features) and y (response)
X = iris.data
y = iris.target

In [16]:
# use train/test split with different random_state values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=4)

### Steps for K-fold cross-validation
1. Split the dataset into K equal partitions (or "folds").
* Use fold 1 as the testing set and the union of the other folds as the training set.
* Calculate testing accuracy.
* Repeat steps 2 and 3 K times, using a different fold as the testing set each time.
* Use the average testing accuracy as the estimate of out-of-sample accuracy.

In [18]:
# simulate splitting a dataset of 25 observations into 5 folds
kf = KFold(25, n_folds=5, shuffle=False)

# print the contents of each training and testing set
print('{} {:^61} {}'.format('Iteration', 'Training set observations', 'Testing set observations'))
for iteration, data in enumerate(kf, start=1):
    print('{:^9} {} {:}'.format(iteration, data[0], data[1]))

Iteration                   Training set observations                   Testing set observations
    1     [ 5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24] [0 1 2 3 4]
    2     [ 0  1  2  3  4 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24] [5 6 7 8 9]
    3     [ 0  1  2  3  4  5  6  7  8  9 15 16 17 18 19 20 21 22 23 24] [10 11 12 13 14]
    4     [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 20 21 22 23 24] [15 16 17 18 19]
    5     [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19] [20 21 22 23 24]

* Dataset contains 25 observations (numbered 0 through 24)
* 5-fold cross-validation, thus it runs for 5 iterations
* For each iteration, every observation is either in the training set or the testing set, but not both
* Every observation is in the testing set exactly once

### Comparing cross-validation to train/test split
Advantages of cross-validation:
* More accurate estimate of out-of-sample accuracy
* More "efficient" use of data (every observation is used for both training and testing)

Advantages of train/test split:
* Runs K times faster than K-fold cross-validation
* Simpler to examine the detailed results of the testing process


### Cross-validation recommendations
1. K can be any number, but K=10 is generally recommended
2. For classification problems, stratified sampling is recommended for creating the folds
    - Each response class should be represented with equal proportions in each of the K folds
    - scikit-learn's cross_val_score function does this by default

In [19]:
# Load the Diabetes Housing dataset
columns = 'age sex bmi map tc ldl hdl tch ltg glu'.split() # Declare the columns names
diabetes = datasets.load_diabetes() # Call the diabetes dataset from sklearn
df = pd.DataFrame(diabetes.data, columns=columns) # load the dataset as a pandas data frame
y = diabetes.target # define the target variable (dependent variable) as y

In [20]:
# create training and testing vars
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(353, 10) (353,)
(89, 10) (89,)

In [21]:
# fit a model
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

In [22]:
predictions[0:5]

array([ 99.4834095 , 181.25429721, 106.61431616, 123.1084059 ,
       183.05038517])

In [23]:
print('Score:', model.score(X_test, y_test))

Score: 0.41617433039258167

In [24]:
#from sklearn.model_selection import KFold # import KFold
#X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]]) # create an array
#y = np.array([1, 2, 3, 4]) # Create another array
#kf = KFold(n_splits=2) # Define the split - into 2 folds 
#kf.get_n_splits(X) # returns the number of splitting iterations in the cross-validator
#print(kf)

In [25]:
#for train_index, test_index in kf.split(X):
 #   print('TRAIN:', train_index, 'TEST:', test_index)
  #  X_train, X_test = X[train_index], X[test_index]
   # y_train, y_test = y[train_index], y[test_index]

In [28]:
# Perform 6-fold cross validation
scores = cross_val_score(model, df, y, cv=6)
print('Cross-validated scores:', scores)

Cross-validated scores: [0.4554861  0.46138572 0.40094084 0.55220736 0.43942775 0.56923406]

In [29]:
predictions = cross_val_predict(model, df, y, cv=6)